{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo pacman -S \
	ripgrep \
	ttf-jetbrains-mono \
	ttf-jetbrains-mono-nerd \
	zoxide \
	fzf \
	tree-sitter \
	trash-cli \
	pass \
	debugedit \
  zig \
	neovim \
	bat \
	eza
{{ end -}}

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "eagle") -}}
#!/bin/bash

sudo pacman -S \
	xclip \
	xdotool \
	dunst \
	inotify-tools \
	kitty
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep eza
{{ end -}}

