{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo pacman -S \
  base-devel \
  bat \
  clipcat \
  curl \
  debugedit \
  direnv \
  dunst \
  eza \
  feh \
  fzf \
  inotify-tools \
  kitty \
  lazygit \
  neovim \
  pass \
  ripgrep \
  rofi \
  rofimoji \
  trash-cli \
  tree-sitter \
  ttf-jetbrains-mono \
  ttf-jetbrains-mono-nerd \
  wget \
  xclip \
  xdotool \
  xorg-server \
  xorg-xrandr \
  zig \
  zoxide

ln -s /usr/bin/rofi /usr/bin/dmenu
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep eza
{{ end -}}
