customCommands:
  - key: "<c-a>" # ctrl + a
    description: "Pick AI commit"
    command: 'echo "{{ "{{.Form.Msg}}" }}" > .git/COMMIT_EDITMSG && nvim .git/COMMIT_EDITMSG && [ -s .git/COMMIT_EDITMSG ] && git commit -F .git/COMMIT_EDITMSG || echo "Commit message is empty, commit aborted."'
    context: "files"
    subprocess: true
    prompts:
      - type: "menuFromCommand"
        title: "AI Commits"
        key: "Msg"
        command: "bunx @m7medvision/lazycommit@v1.3.21"
        filter: '^(?P<number>\d+)\.\s(?P<message>.+)$'
        valueFormat: {{ "\"{{ .message }}\"" }}
        labelFormat: {{ "\"{{ .number }}: {{ .message | green }}\"" }}
  - key: "<c-r>"
    command: "gh pr create --fill --web"
    context: "global"
    loadingText: "Creating pull request on GitHub"
  - key: "n"
    context: "files"
    prompts:
      - type: "menu"
        title: "What kind of commit is it?"
        key: "CommitType"
        options:
          - name: "fix"
            description: "bug fix for the user, not a fix to a build script"
            value: "fix"
          - name: "feat"
            description: "new feature for the user, not a new feature for build script"
            value: "feat"
          - name: "chore"
            description: "updating grunt tasks etc; no production code change"
            value: "chore"
          - name: "docs"
            description: "changes to the documentation"
            value: "docs"
          - name: "test"
            description: "adding missing tests, refactoring tests; no production code change"
            value: "test"
          - name: "refactor"
            description: "refactoring production code, eg. renaming a variable"
            value: "refactor"
          - name: "style"
            description: "formatting, missing semi colons, etc; no production code change"
            value: "style"
      - type: "input"
        title: "Select ticket"
        key: "TicketMessage"
        suggestions:
          command: 'curl https://wkdauto.atlassian.net/rest/api/2/search/jql -H "Authorization: Basic {{ pass "a1/atlassian-my-api-key" }}" --data-urlencode "jql=project=rhw and assignee=currentuser() and status in (\"to do\",\"in progress\",\"in dev testing\",\"code review\")" --data-urlencode "fields=summary" -G | jq ''.issues[] | "[" + .key + "]" + " " + .fields.summary'' -r'
      - type: "input"
        title: "Enter commit message"
        key: "CommitMessage"
        initialValue: "{{ "{{.Form.CommitType}}: {{.Form.TicketMessage}}" }}"
    command: "{{ "git commit -m {{.Form.CommitMessage | quote}}" }}"
