<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.commandline" version="16.02" />
  <package id="7zip.install" version="16.02" />
  <package id="ag" version="0.29.1.1641" />
  <package id="autohotkey" version="1.1.24.00" />
  <package id="autohotkey.install" version="1.1.24.00" />
  <package id="autohotkey.portable" version="1.1.24.00" />
  <package id="ccleaner" version="5.18.5607" />
  <package id="chocolatey" version="0.9.10.1" />
  <package id="ChocolateyGUI" version="0.13.2" />
  <package id="dropbox" version="4.4.29" />
  <package id="Firefox" version="47.0" />
  <package id="git.install" version="2.9.0" />
  <package id="Growl" version="2.0.9.20130406" />
  <package id="kdiff3" version="0.9.98" />
  <package id="linqpad" version="5.05.02" />
  <package id="linqpad5" version="5.05.02" />
  <package id="linqpad5.install" version="5.05.02" />
  <package id="openvpn" version="2.3.10" />
  <package id="PowerShell" version="5.0.10586.20151218" />
  <package id="python2" version="2.7.11" />
  <package id="skype" version="7.25.0.103" />
  <package id="tortoisehg" version="3.8.3" />
  <package id="totalcommander" version="8.52.01.20160421" />
  <package id="vcredist2010" version="10.0.40219.1" />
  <package id="virtualbox" version="5.0.22.108108" />
  <package id="VirtualBox.ExtensionPack" version="5.0.22.108108" />
  <package id="workrave" version="1.10.1.6" />
</packages>